.fade-from-top-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .fade-from-top-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms, transform 500ms;
  }
  
  .fade-from-top-exit {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .fade-from-top-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  