.Title {
    font-size: 44px;
    font-family: "Poppins";
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  .box {
    width: fit-content;
    border: 1px dashed #ececec;
    background-color: #fafafa;
    transition: 0.5s;
    font-size: 14px;
    font-family: "Poppins";
    color: #848484;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
  }
  .box:hover {
    background-color: #73b21a;
    cursor: pointer;
    border: 1px dashed #73b21a;
  }
  .boxActive {
    width: fit-content;
    border: 1px dashed #73b21a;
    background-color: #73b21a;
    transition: 0.5s;
    font-size: 14px;
    font-family: "Poppins";
    color: #848484;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  .box2 {
    width: fit-content;
    border: 1px dashed #fafafa;
    background-color: #fafafa;
    transition: 0.5s;
    font-size: 14px;
    font-family: "Poppins";
    color: #848484;
    padding: 8px;
    
  }
  .box2Active {
    width: fit-content;
    border: 1px dashed #ffffff;
    background-color: #73b21a;
    transition: 0.5s;
    font-size: 14px;
    font-family: "Poppins";
    color: #ffffff;
    padding: 8px;
  }
  .box2:hover {
    border: 1px dashed #ffffff;
    background-color: #73b21a;
    cursor: pointer;
    color: #ffffff;
  }